<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container-fluid bg-light ">
    <h5>Flickr Search</h5>
    <input type="text" [(ngModel)]="title" class="form-control">
	<div class="row align-items-center justify-content-center">
        <div class="col-md-2 pt-3">
            <div class="form-group ">
            Taille de l'image:<input id="inputState " class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-2 pt-3">
            <div class="form-group">
            Date minimum d'upload<input id="inputState" [(ngModel)]="minDateUpload" class="form-control" type="date">
            </div>
        </div>
        <div class="col-md-2 pt-3">
            <div class="form-group">
                Date Maximum d'upload <input id="inputState" [(ngModel)]="maxDateUpload" class="form-control" type="date">
            </div>
        </div>
        <div class="col-md-2 pt-3">
            <div class="form-group">
                tags supplementaire<input id="inputState" class="form-control">
            </div>
        </div>
        <div class="col-md-2 pt-3">
            <div class="form-group">
                Nombre de résultat par page : <input type="number" [(ngModel)]="limitePage" class="form-control">
            </div>
        </div>
        <div class="col-md-2 pt-3">
            <div class="form-group">
                Masquer contenu sensible <input type="checkbox" (click)="setContentNSFW()" class="form-control" checked>
            </div>
        </div>
        
    </div>
    <div class="row align-items-center justify-content-center">
        <div>
            <button type="button" (click)="onClickMe()" class="btn btn-primary btn-block">Search</button>
        </div>
    </div>
</div>

<div style="margin: auto; width: 75%; text-align: center; padding-top: 20px;">
    <div *ngIf="imageClicked" style="position: relative; display: block; margin: auto; width: 100%; height: 75%; background-color: lightgray;">
            <img src="../assets/rightArrow.png" width="100" style="position: absolute;
            display: block;
            right: 0;" (click)="nextPicture()"/>
        <img src="../assets/leftArrow.png" width="100" style="position: absolute;
        display: block;
        left: 0;"  (click)="prevPicture()"/>
        <img src="https://farm{{imageClicked.farm}}.staticflickr.com/{{imageClicked.server}}/{{imageClicked.id}}_{{imageClicked.secret}}.jpg"/>
        <div><b><i>Date d'upload :</i></b> {{currentPicture.dateUpload}}</div>
        <div><b><i>Date de prise de vue :</i></b> {{currentPicture.dateTaken}}</div>
        <div *ngIf="currentPicture.location != ''"><b><i>Localisation :</i></b> {{currentPicture.location}}</div>
        <div><b><i>Utilisateur :</i></b> {{currentPicture.ownerUsername}}</div>
        <div *ngIf="currentPicture.tags.length > 0"><b><i>Tags de cette photo :</i></b>
            <div *ngFor="let item of currentPicture.tags">
                
                <li>{{item.raw}}</li>
            </div>
        </div>
        

    </div>
    <span *ngFor="let item of object; let i = index;">
        <img src="https://farm{{item.farm}}.staticflickr.com/{{item.server}}/{{item.id}}_{{item.secret}}_m.jpg" class="img-thumbnail rounded " (click)="openPicture(item, i)"/>
    </span>
</div>


